# dependencies
yogamap/node_modules/

# Expo
yogamap/.expo/
yogamap/dist/
yogamap/web-build/

# Native
yogamap/*.orig.*
yogamap/*.jks
yogamap/*.p8
yogamap/*.p12
yogamap/*.key
yogamap/*.mobileprovision

# Metro
yogamap/.metro-health-check*

# debug
yogamap/npm-debug.*
yogamap/yarn-debug.*
yogamap/yarn-error.*

# macOS
yogamap/.DS_Store
yogamap/*.pem

# local env files
yogamap/.env*.local

# typescript
yogamap/*.tsbuildinfo
